<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs") %>
    <body>
        <%- include ("./partials/background.ejs") %>

        <div class="content content_questions">
            <nav>
                <div class="dropdown">
                    <a class="btn btn-transparent dropdown-toggle user" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/user-img.png" alt="user-icon">
                        <p><%= candidate_id %></p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
                    </ul>
                </div>
            </nav>
            <img src="/images/Volvo-Logo-2020.png" alt="Volvo Logo" class="volvo_logo">
            <form action="" id="question_submit" method="post" novalidate enctype="multipart/form-data">
                <div class="questions_content">
                    <p class="question_num">Question <%= id %></p>
                    <p class="questions_page"><%= question %></p>
                    <div class="question_answer">
                        <label for="answer" class="answer_style">
                            Answer
                        </label>
                        <textarea name="answer" rows="4" id="answer" class="answer_area" required maxlength="400" ondrop="return false;" onpaste="return false;" oncopy="return false;"><%= value %></textarea>
                        <span class="error" aria-live="polite" id="answer_error"><%- message %></span>
                    </div>
                    <div class="upload">
                        <label for="files" class="upload-label">Upload relevent file if any (Size limit: 8MB).</label>
                        <input type="file" id="files" name="myfile" />
                        <% if(filename) {%>
                            <% var notify = filename.replace(`${candidate_id}_Q${id}-`,"") + ' uploaded succesfully. ' + '<a href="#" id="delete" data-file=' + filename +' title="remove uploaded file"><i class="fa fa-trash"></i></a>' %>
                        <% } %>
                        <span class="file-upload-message" aria-live="polite" id="file-upload-msg"><%- notify %></span>
                    </div>
                </div>
                <div class="navigate">
                    <% var prev = `/questions/${Number(id)-Number(1)}?candidateId=${candidate_id}&jobId=${jobId}&jobName=${jobName}` %>
                    <% var prevNo = Number(id)-Number(1) %>
                    <% if (prevNo < 1) { %>
                        <% prev = `/details?candidateId=${candidate_id}&jobId=${jobId}&jobName=${jobName}` %>
                    <% } %>
                    <a href="<%= prev %>" id="prev" data-id="<%= prevNo %>" title="Previous"><i class="fa fa-solid fa-chevron-left arrow"></i></a>
                    <p><%= id  %> / <%= questionLength %></p>
                    <% var nextNo = Number(id)+Number(1) %>
                    <a href="#" id="next" data-id="<%= nextNo %>" onclick="myFunction()" title="Save and next"><i class=" fa fa-solid fa-chevron-right arrow"></i></a>
                </div>
                <div class="confirm_submit">
                    <input type="submit" value="Confirm Submit" id="question-submit">
                </div>
            </form>
        </div>

        <%- include ("./partials/footer.ejs") %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous">
        </script>
        <script>
            //removing next button once last question is reached
            if($('#next').data('id') > <%= questionLength %>){
                $('#next').hide();
                $('#question-submit').show();
            }

        
            // Delete uploaded file
            $('#delete').click(deleteUpload)

            function deleteUpload(e){
                e.preventDefault();
                var file = $(this).data('file');
                console.log(file);
                var candidate_id = '<%= candidate_id %>';
                var jobId = '<%= jobId %>';
                var jobName = '<%= jobName %>';
                var id = '<%= id %>';
                $.ajax({
                    //send delete request to server
                    url: `/questions/${id}?candidateId=${candidate_id}&jobId=${jobId}&jobName=${jobName}`,
                    type: 'DELETE',
                    dataType: 'json',
                    data: {
                            file: file,
                            answer: $('#answer').val(),
                        },

                    //if successful
                    success: function(response){

                        //if file is found and deleted
                        if(response.found)
                            $('.file-upload-message').html('');

                        //if file is not found just reload
                        else
                            location.reload();
                    },           
                    error: function(error) {
                        console.log("some error in deleting file");
                        $('#answer_error').html('<i class="fa fa-exclamation-circle"></i> Error in deleting file');
                    }
                });
            }


            // File upload notification

            $('#files').on('change', function(){
                //get the file path
                var file = $('#files').val();
                console.log(file);

                // if file is uploaded
                if(file){
                    var fileSize = this.files[0].size/1000000;  
                    var filename = file.replace(/^.*[\\\/]/, '');
                    var candidate_id = '<%= candidate_id %>';
                    var id = '<%= id %>';
                    var notify = filename + ' uploaded succesfully. ' + '<a href="#" id="delete" onclick="deleteUpload(event)" data-file=' + candidate_id + '_Q' + id + '-' + filename +' title="remove uploaded file"><i class="fa fa-trash"></i></a>';
                    //if file size is greater than 8MB
                    if(fileSize > 9){
                        $('.file-upload-message').html('<i class="fa fa-exclamation-circle"></i>&nbsp;File size exceeds 8MB');
                        $('.file-upload-message').css({'color':'red'});
                        $('#files').val('');
                    }
                    // send notitifications if file uploaded successfully
                    else if(filename != ""){
                        $('.file-upload-message').html(notify);
                        $('.file-upload-message').css({'color':'green'});
                        $('#delete').click(deleteUpload)
                    }                
                }
                
                //if file is not uploaded
                else{
                    console.log("no file selected");
                    $('.file-upload-message').html('');
                }
            })


            //form validation
            const form = document.querySelector('form')
            const answer = document.getElementById('answer')

            function myFunction() {
                console.log('submitted')
                //if answer is invalid
                if(!answer.validity.valid){
                    console.log('invalid')
                    showError();
                    event.preventDefault();
                }
                //if answer is valid
                else
                    document.getElementById("question_submit").submit();
            }
                
            function showError(){
                //if answer is empty
                if(answer.validity.valueMissing){
                    document.getElementById('answer_error').innerHTML='<i class="fa fa-exclamation-circle"></i> Please fill this field.';
                }
                //if answer is long
                else if(answer.validity.tooLong){
                    document.getElementById('answer_error').innerHTML='<i class="fa fa-exclamation-circle"></i> Answer should be less than 400 characters';
                }
            }

            answer.addEventListener("input", event => {
                if(answer.validity.valid){
                    document.getElementById('answer_error').innerHTML='';
                }
                else{
                    showError();
                }
            })

            

        </script>
    </body>
</html>